@media (max-width: 2000px) {
  .div-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
      "article article"
      "iframe content"
      "footer footer";
    font-size: 2em;
  }

  .article {
    grid-area: article;
    background-color: #c0c7d3;
    display: flex;
    /* justify-content: center; */
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 10px;
  }

  .iframe {
    grid-area: iframe;
    padding: 70px;
  }
  .footer {
    grid-area: footer;
    background-color: yellow;
  }
  .content {
    grid-area: content;
    background-color: #768fbc;
    font-family: "Merriweather", serif;

    line-height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
}
@media (max-width: 1000px) {
}
@media (max-width: 400px) {
}
