.center-right {
  height: 100px;
  background-color: rgb(206, 139, 139);
  font-size: 2em;
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  /* color: #f1f1f1; Grey text */
  width: 100%; /* Full width */
  /* padding: 20px; Some padding */
}

header span a {
  padding-right: 30px;
  color: rgba(252, 255, 45, 0.3);
}

table,
tr,
td {
  width: 650px;
  height: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes box {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
.box11,
.box12,
.box13,
.box14,
.box15,
.box19,
.box110,
.box111,
.box112,
.box113,
.box21,
.box22,
.box23,
.box24,
.box25,
.box29,
.box210,
.box211,
.box212,
.box213,
.box31,
.box32,
.box33,
.box34,
.box35,
.box41,
.box42,
.box43,
.box44,
.box51,
.box52,
.box53,
.box54,
.box55,
.box610,
.box611,
.box612,
.box613 {
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: white;
  border-right-color: white;
}
.box16,
.box26 {
  border-top-color: white;
  border-bottom-color: white;
}
.box18,
.box28 {
  border-top-color: white;
  border-bottom-color: white;
  border-right-color: white;
}
.box38,
.box39,
.box310,
.box311,
.box312,
.box313,
.box61,
.box62,
.box63,
.box64,
.box65,
.box68,
.box69 {
  border-right-color: white;
  border-left-color: white;
}
.box81,
.box82,
.box83,
.box84,
.box85 {
  border-bottom-color: white;
  border-right-color: white;
  border-left-color: white;
}
.box58,
.box59,
.box510,
.box511,
.box512,
.box513 {
  border-bottom-color: white;
  border-right-color: white;
  border-left-color: white;
}
.box45,
.box56,
.box86 {
  border-bottom-color: white;
}

.box88,
.box89,
.box810,
.box811,
.box812,
.box813,
.box710,
.box711,
.box712,
.box713 {
  border-right-color: white;
  border-left-color: white;
  border-bottom-color: white;
}

.box17 {
  animation-delay: 1s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box27 {
  animation-delay: 1.3s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box37 {
  animation-delay: 1.6s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box47 {
  animation-delay: 1.9s;
  animation-duration: 0.3s;

  animation-fill-mode: forwards;
  color: white;
  animation-name: box;
}
.box57 {
  animation-delay: 2.2s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box67 {
  animation-delay: 2.5s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box77 {
  animation-delay: 2.8s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box87 {
  animation-delay: 3.1s;
  animation-duration: 0.3s;

  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box46 {
  animation-delay: 3.4s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}

.box48 {
  animation-delay: 4.3s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box49 {
  animation-delay: 4.6s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box410 {
  animation-delay: 4.9s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box411 {
  animation-delay: 5.2s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box412 {
  animation-delay: 5.5s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box413 {
  animation-delay: 5.8s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box71 {
  animation-delay: 6.1s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box72 {
  animation-delay: 6.4s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box73 {
  animation-delay: 6.7s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box74 {
  animation-delay: 7s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box75 {
  animation-delay: 7.3s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box76 {
  animation-delay: 7.6s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box78 {
  animation-delay: 7.9s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}
.box79 {
  animation-delay: 8.2s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  color: white;
  animation-name: box;
}

footer {
  height: 100px;
  background-color: #996b9e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}

@media (min-width: 992px) {
  .center-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
  }

  main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
  }
}
@media (max-width: 991px) {
  .center-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  footer {
    height: 100px;
    background-color: #996b9e;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
